.horiz-scroll__subtitle_place_principles {
  margin-top: 40px;
  font-size: 60px;
  line-height: 68px;
  width: 847px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .horiz-scroll__subtitle_place_principles {
    font-size: 36px;
    line-height: 44px;
    width: 288px;
  }
}
