.card__title{
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
    box-sizing: border-box;
    font-feature-settings: 'pnum' on, 'lnum' on;
}


@media (max-width: 768px) {
    .card__title {
        font-size: 30px;
        line-height: 35px;
    }
}

@media (max-width: 450px) {
    .card__title {
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.5px;
    }
}