.header__logo {
  width: 100px;
  aspect-ratio: 1 / 1;
  background-image: url("../../../images/logotype.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .header__logo {
    background-image: url("../../../images/secondaryLogo.jpg");
    aspect-ratio: unset;
    height: 36px;
  }
}

@media screen and (max-width: 640px) {
  .header__logo {
    height: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .header_second-logo .header__logo {
    background-image: url("../../../images/secondaryLogo.jpg");
    aspect-ratio: unset;
    height: 36px;
  }
}

@media screen and (max-width: 640px) {
  .header_second-logo .header__logo {
    height: 22px;
  }
}
