.popup__skills-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0 0 30px;
}

@media screen and (max-width: 600px) {
  .popup__skills-subtitle {
    font-size: 16px;
  line-height: 20px;
  }

  .popup__partner .popup__skills-subtitle {
    font-size: 18px;
  line-height: 22px;
  }
}