.header__container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

@media screen and (max-width: 1200px) {
  .header__container {
    padding: 10px 15px;
  }
}

.header_second-logo .header__container {
  padding-top: 14px;
  padding-bottom: 14px;
}

@media screen and (max-width: 1200px) {
  .header_second-logo .header__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
