.lead__telegram {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ae46FF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 83.3%;
    height: 72px;
    border-radius: 60px;
    padding: 0;
}

@media (max-width: 1024px) {
    .lead__telegram {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .lead__telegram {
        width: 100%;
        bottom: -150px;
        border-radius: 40px;
        height: initial;
        flex-direction: column;
        padding-top: 34px;
        padding-bottom: 30px;
        gap: 15px;
    }
}