.horiz-scroll {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #AE46FF;
  padding: 120px 0 160px;
  position: relative;
  box-sizing: border-box;
  border-radius: 60px;
  color: #FFF;
}

@media screen and (max-width: 600px) {
  .horiz-scroll {
    justify-content: center;
    padding: 30px 16px;
  }
}
