.lead__telegram-button {
    background-color: #0B0B0B;
    min-width: 156px;
    max-width: 450px;
    height: 52px;
    border: 0;
    padding: 0 20px 0 20px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    transition: background-color .5s ease;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
    cursor: pointer;
}

.lead__telegram-button:hover {
    background-color: #333333;
}

@media (max-width: 600px) {
    .lead__telegram-button {
        margin-right: 0;
    }
}