.card__time-age{
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    color: #2B2B2B;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.5px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.card__time-age:last-child{
    margin-bottom: 0;
}


@media (max-width: 450px) {
    .card__time-age {
        margin: 0 0 12px 0;
        font-size: 16px;
        line-height: 20px;
    }
}