.horiz-scroll__card-image {
    height: 42vh;
    object-position: center;
    object-fit: contain;
}

@media (max-width: 1024px) {
    .horiz-scroll__card-image {
        height: initial;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .horiz-scroll__card-image {
        width: 60%;
    }

    .horiz-scroll__card:nth-of-type(1) .horiz-scroll__card-image {
        object-fit: cover;
        aspect-ratio: 1 / 1 ;
        border-radius: 500px;
    }
}

@media (max-width: 425px) {
    .horiz-scroll__card-image {
        width: 71.875%;
    }

    .horiz-scroll__card:nth-of-type(1) .horiz-scroll__card-image {
        object-fit: cover;
        aspect-ratio: unset;
        border-radius: 500px;
    }
}