.courses__frame-programming-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    width: 100%;
    gap: 10px;
}

@media (max-width: 768px) {
    .courses__frame-programming-cards {
        grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    }
}

@media (max-width: 450px) {
    .courses__frame-programming-cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    }
}