.courses__frame-programming-title{
    padding: 0;
    margin: 0 0 10px 0;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
    font-feature-settings: 'pnum' on, 'lnum' on;

}


@media (max-width: 768px) {
    .courses__frame-programming-title {
        font-size: 30px;
        line-height: 35px;
        letter-spacing: -0.5px;
    }
}

@media (max-width: 450px) {
    .courses__frame-programming-title {
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.5px;
    }
}