@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/_fixed/header_fixed.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo-box/header__logo-box.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav-list/header__nav-list.css);
@import url(../blocks/header/__nav-item/header__nav-item.css);
@import url(../blocks/header/__nav-link/header__nav-link.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__burger-btn/header__burger-btn.css);
@import url(../blocks/burger-menu/burger-menu.css);
@import url(../blocks/burger-menu/_active/burger-menu_active.css);
@import url(../blocks/burger-menu/__nav/burger-menu__nav.css);
@import url(../blocks/burger-menu/__nav-list/burger-menu__nav-list.css);
@import url(../blocks/burger-menu/__logo/burger-menu__logo.css);
@import url(../blocks/burger-menu/__close-button/burger-menu__close-button.css);
@import url(../blocks/burger-menu/__button/burger-menu__button.css);

.principles {
    max-width: 100%;
    height: calc(100vh - 78.4px);
    background-color: #AE46FF;
    border-radius: 60px;
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    overflow: hidden;
}

.principles_without-border {
    border-radius: 0;
}

.principles__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -1px;
    color: #fff;
    margin: 0;
    padding-top: 12vh;
}

@media (max-height: 785px) {
    .principles__title {
        padding-top: 7vh;
    }
}

.horiz-scroll {
    display: flex;
    flex-flow: row nowrap;
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300%;
}

.horiz-scroll__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
}

.horiz-scroll__card-image {
    height: 42vh;
    object-position: center;
    object-fit: contain;
}

.horiz-scroll__card-title {
    font-weight: 600;
    font-size: 60px;
    line-height: 68px;
    text-align: center;
    letter-spacing: -1px;
    color: #fff;
    margin: 40px 0 0 0;
    max-width: 847px;
}

@media (max-height: 850px) {
    .horiz-scroll__card-title {
        font-size: 50px;
        line-height: 58px;
        max-width: 700px;
    }
}

@media (max-height: 850px) {
    .horiz-scroll__card-title {
        font-size: 50px;
        line-height: 58px;
        max-width: 700px;
    }
}

@media (max-height: 785px) {
    .horiz-scroll__card-title {
        font-size: 40px;
        line-height: 48px;
        max-width: 600px;
        margin-top: 20px;
    }
}