@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/_fixed/header_fixed.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo-box/header__logo-box.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav-list/header__nav-list.css);
@import url(../blocks/header/__nav-item/header__nav-item.css);
@import url(../blocks/header/__nav-link/header__nav-link.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__burger-btn/header__burger-btn.css);
@import url(../blocks/burger-menu/burger-menu.css);
@import url(../blocks/burger-menu/_active/burger-menu_active.css);
@import url(../blocks/burger-menu/__nav/burger-menu__nav.css);
@import url(../blocks/burger-menu/__nav-list/burger-menu__nav-list.css);
@import url(../blocks/burger-menu/__logo/burger-menu__logo.css);
@import url(../blocks/burger-menu/__close-button/burger-menu__close-button.css);
@import url(../blocks/burger-menu/__button/burger-menu__button.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__photo/lead__photo.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__button/lead__button.css);
@import url(../blocks/lead/__telegram/lead__telegram.css);
@import url(../blocks/lead/__telegram-graphics/lead__telegram-graphics.css);
@import url(../blocks/lead/__telegram-wrapper/lead__telegram-wrapper.css);
@import url(../blocks/lead/__telegram-text/lead__telegram-text.css);
@import url(../blocks/lead/__telegram-button/lead__telegram-button.css);
@import url(../blocks/purpose/purpose.css);
@import url(../blocks/purpose/__text/purpose__text.css);
@import url(../blocks/courses/courses.css);
@import url(../blocks/courses/__frame-cards/courses__frame-cards.css);
@import url(../blocks/courses/__frame-course-cost-included/courses__frame-course-cost-included.css);
@import url(../blocks/courses/__frame-course-cost-button-mobile/courses__frame-course-cost-button-mobile.css);
@import url(../blocks/courses/__frame-course-cost-button-desktop/courses__frame-course-cost-button-decktop.css);
@import url(../blocks/courses/__frame-course-cost-title/courses__frame-course-cost-title.css);
@import url(../blocks/courses/__frame-course-cost/courses__frame-course-cost.css);
@import url(../blocks/courses/__frame-course-cost-block-price/courses__frame-course-cost-block-price.css);
@import url(../blocks/courses/__frame-course-cost-included-list-element/courses__frame-course-cost-included-list-element.css);
@import url(../blocks/courses/__frame-course-cost-included-title/courses__frame-course-cost-included-title.css);
@import url(../blocks/courses/__frame-course-cost-list/courses__frame-course-cost-list.css);
@import url(../blocks/courses/__frame-course-cost-not-included-list-element/courses__frame-course-cost-not-included-list-element.css);
@import url(../blocks/courses/__frame-course-cost-not-included/courses__frame-course-cost-not-included.css);
@import url(../blocks/courses/__frame-programming-description/courses__frame-programming-description.css);
@import url(../blocks/courses/__frame-programming-title/courses__frame-programming-title.css);
@import url(../blocks/courses/__frame-programming/courses__frame-programming.css);
@import url(../blocks/courses/__frame-programming-cards/courses__frame-programming-cards.css);
@import url(../blocks/courses/__title/courses__title.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__text-list-element/card__text-list-element.css);
@import url(../blocks/card/__text-list/card__text-list.css);
@import url(../blocks/card/__content/card__content.css);
@import url(../blocks/card/__button-detail/card__button-detail.css);
@import url(../blocks/card/__buttons/card__buttons.css);
@import url(../blocks/card/__description-paragraph/card__description-paragraph.css);
@import url(../blocks/card/__description/card__description.css);
@import url(../blocks/card/__tag/card__tag.css);
@import url(../blocks/card/__tags/card__tags.css);
@import url(../blocks/card/__time-age/card__time-age.css);
@import url(../blocks/card/__time-age-list/card__time-age-list.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__time-age-icon/card__time-age-icon.css);
@import url(../blocks/button-to-course/button-to-course.css);
@import url(../blocks/about/about.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__text/about__text.css);
@import url(../blocks/about/__article-wrapper/about__article-wrapper.css);
@import url(../blocks/about/__article/about__article.css);
@import url(../blocks/about/__article-image/about__article-image.css);
@import url(../blocks/about/__article-text/about__article-text.css);
@import url(../blocks/about/__article-brief/about__article-brief.css);
@import url(../blocks/about/__article-brief-text/about__article-brief-text.css);
@import url(../blocks/partners/partners.css);
@import url(../blocks/partners/__title/partners__title.css);
@import url(../blocks/partners/__logo-container/partners__logo-container.css);
@import url(../blocks/partners/__border/partners__border.css);
@import url(../blocks/partners/__logo/partners__logo.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__info/popup__info.css);
@import url(../blocks/popup/__info-item/popup__info-item.css);
@import url(../blocks/popup/__tags/popup__tags.css);
@import url(../blocks/popup/__tag/popup__tag.css);
@import url(../blocks/popup/__skills/popup__skills.css);
@import url(../blocks/popup/__skill/popup__skill.css);
@import url(../blocks/popup/__title-close-container/popup__title-close-container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__skills-subtitle/popup__skills-subtitle.css);
@import url(../blocks/popup/__enroll-button/popup__enroll-button.css);
@import url(../blocks/popup/__logo-link/popup__logo-link.css);
@import url(../blocks/popup/popup__body-scroll/popup__body-scroll.css);
@import url(../blocks/popup/__lead-image/popup__lead-image.css);
@import url(../blocks/popup/__info-item-image/popup__info-item-image.css);
@import url(../blocks/partners/__logo/partners__logo.css);

