.lead__telegram-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: #fff;
    max-width: 750px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}