.card__buttons{
    display: flex;
    gap: 30px;
}

@media (max-width: 1024px) {
    .card__buttons {
        align-self: center;
    }
}



@media (max-width: 768px) {
    .card__buttons {
        flex-direction: column-reverse;
    }
}

@media (max-width: 450px) {
    .card__buttons {
        flex-direction: column-reverse;
        align-self: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
}