.burger-menu__close-button {
    position: absolute;
    top: 13px;
    right: 15px;
    width: 28px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url(../../../images/close-icon.svg);
    border: 0;
    padding: 0;
    background-color: #fff;
}