.about__text {
    color: #000;
    font-weight: 600;
    font-size: 36px;
    line-height: 44x;
    letter-spacing: -1px;
    margin: 0 0 60px 0;
    max-width: 915px;
}

@media (max-width: 1200px) {
    .about__text {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1024px) {
    .about__text {
        font-size: 32px;
        line-height: 38px;
    }
}

@media (max-width: 768px) {
    .about__text {
        font-size: 27px;
        line-height: 32px;
    }
}

@media (max-width: 600px) {
    .about__text {
        margin-bottom: 40px;
    }
}

@media (max-width: 320px) {
    .about__text {
        font-size: 24px;
        line-height: 29px;
        max-width: 90.625%;
    }
}