.horiz-scroll_place_principles {
  background-color: #AE46FF;
  padding: 120px 0 160px;
  border-radius: 60px;
}

@media screen and (max-width: 700px) {
  .horiz-scroll_place_principles {
    padding: 30px 16px;
  }
}
