.header {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  justify-content: space-between;
}
.header__logo-box {
}
.header__logo {
  width: 100px;
}
.header__nav {
}
.header__nav-list {
	list-style: none;
}

.header__nav-item {
	transition: opacity .3s ease;
}

.header__nav-item:hover {
	opacity: .8;
}

.header__nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
	text-decoration: none;
}
.header__button {
}
